<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ganonalabs.munir.electrtech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyESS"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ess_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".PhoneVerificationActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="com.ganonalabs.munir.electrtech.MyActivity" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.UserProfileActivity" />
        <activity
            android:name=".ui.JobSchedulingActivity"
            android:label="@string/title_activity_job_scheduling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.JobPostingActivity"
            android:label="@string/title_activity_job_posting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.JobForwardingActivity"
            android:label="@string/title_activity_job_forwarding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.JobFinalActivity"
            android:label="@string/title_activity_job_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ganonalabs.munir.electrtech.Main2Activity" />
        </activity>
        <activity
            android:name=".ui.OrderHistoryListActivity"
            android:label="@string/title_activity_order_history_list"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ganonalabs.munir.electrtech.Main2Activity" />
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.NewsListActivity"
            android:label="@string/title_activity_news_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>